<h1>ROSTER</h1>

<table class="roster">
  <tr>
    <th></th>
    <th></th>
    <th>26 AUG 2012<br>Sunday</th>
    <th>27 AUG 2012<br>Monday</th>
    <th>28 AUG 2012<br>Tuesday</th>
    <th>29 AUG 2012<br>Wednesday</th>
    <th>30 AUG 2012<br>Thursday</th>
    <th>1 SEP 2012<br>Friday</th>
    <th>2 SEP 2012<br>Saturday</th>
    <th></th>
  </tr>
  <% Employee.all.each do |employee| %>
    <tr>
      <td>
        <%= employee.first_name %><br>
        <%= employee.last_name %>
      </td>
      <td>
        Shift<br>
        Break<br>
        Hours<br>
        Role<br>
        Note<br>
        N/A
      </td>
      <% (0..6).each do |i| %>
        <td>
          <%= select "shift", "start_time_id", Shift.where(day: i).map{ |p| [ p.start_time_finish_time_friendly, p.id ] }, {prompt: 'Select Shift'},  class: 'input-medium' %>
        </td>
      <% end %>
      <td>
        hours_worked
      </td>
    </tr>
  <% end %>
</table>
